<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
</ul>
<ul>
{{#each arr}}
<li>{{this.name}}</li>
    {{#each this.hh}}
        <li> {{this}}</li>
    {{/each}}
    {{/each}}
</ul>

